html {
  position: relative;
  min-height: 100%;
}
body {
  margin-bottom: 45px;
}
#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 30px;
  background-color: #fff4d5;  
    text-align: center;
}

body > .container {
  padding-right: 15px;
  padding-left: 15px;
}
.container .text-muted {
  margin: 5px 0;
    color: #666;
}
#footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}
code {
  font-size: 80%;
}

.reserve, .confirm {
    margin-top: 15px;
}
.reserve .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}

.edge-box {position:relative;margin-left:-15px;margin-right:-15px;padding:0;}
.navbar {background-color: #fff4d5;}